<nav className="navbar navbar-expand-lg navbar-light bg-light">
   <a className="navbar-brand" href="#"><FontAwesomeIcon icon={faCoffee } />  |  Hipstagram</a>
   <form className="form-inline my-2 my-lg-0">
      <input className="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></input>
      <button className="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
</nav>


<div class="card" style={cardStyle}>
   <img class="card-img-top" src={this.state.profileImage} alt={this.state.username}>
   <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
   </div>
</div>